:host {
    ::ng-deep {
        .p-inputnumber {
            width: 100%;

            .p-inputnumber-input {
                height: 28px;
                border: 1px solid #BBBBBB;
                border-radius: 8px;
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
            }
        }

        .p-dropdown {
            border: none;

            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
        }

        .p-selectbutton {
            div {
                margin-right: 10px;
                border-radius: 28px !important;
            }
            
            .p-button.p-highlight {
                background: #D32F2F !important;
                border-color: #D32F2F !important;
            }
        }

        .p-checkbox {
            .p-checkbox-box.p-highlight {
                background: #fff !important;
                border-color: #BBBBBB !important;

                span {
                    width: 15px;
                    height: 15px;
                    background: #D32F2F !important;
                    border-color: #D32F2F !important;
                    border-radius: 3px;

                    &::before {
                        content: '';
                    }
                }
            }
        }
    }
}